<nav class="navbar horizontal-padding">


  <div class="logo">
    <img src="assets/logo.png" loading="lazy" alt="link-logo" />
  </div>

  <ul class="list-btns">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About us</a>
    <a routerLink="/news" routerLinkActive="active">News</a>
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
  </ul>

  <div class="auth-lang">
    <button>Login</button>
    <button>Sign up</button>
    <span class="lang">EN</span>
  </div>


</nav>
