<section class="things-we-do">

  <div class="title-subtitle">

    <h2>We Deliver Digital Productivity</h2>
    <h5 class="subtitle">We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners.</h5>

    <div class="images">

      <div class="image-column">
        <div class="image">
          <div class="dark-background"></div>
          <span class="title">Transformation</span>
          <div class="read-more">
            <span>&Rrightarrow; Read more</span>
          </div>
        </div>
      </div>

      <div class="image-column">
        <div class="image">
          <div class="dark-background"></div>
          <span class="title">Envision</span>
          <div class="read-more">
            <span>&Rrightarrow; Read more</span>
          </div>
        </div>
        <div class="image">
          <div class="dark-background"></div>
          <span class="title">Dynamics 365</span>
          <div class="read-more">
            <span>&Rrightarrow; Read more</span>
          </div>
        </div>
      </div>

      <div class="image-column">
        <div class="image">
          <div class="dark-background"></div>
          <span class="title">Crafty Mind</span>
          <div class="read-more">
            <span>&Rrightarrow; Read more</span>
          </div>
        </div>
        <div class="image">
          <div class="dark-background"></div>
          <span class="title">Services</span>
          <div class="read-more">
            <span>&Rrightarrow; Read more</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
